<%= form_with(model: heart, local: true) do |form| %>
  <% if heart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(heart.errors.count, "error") %>prohibited this heart from being saved:</h2>
      <ul>
        <% heart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>その心は、どちらも</p>
    <%= form.text_area :content, class: "my-3 textarea textarea-bordered flex w-full items-center gap-2" %>
  </div>

  <div class="mt-10 btn btn-primary flex w-full justify-center rounded-md">
    <%= form.submit "心を投稿" %>
  </div>
<% end %>
